/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header,
.header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__add,
.task__name,
.section__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.section__form {
  display: flex;
}

.task__list {
  margin:0;
  padding: 0px;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3A3a;
}

/* Heading */

.section__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 43px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section__input,
.task__add {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.completed-section .section__header {
  padding-top: 31px;
}

.section__input,
.task__add {
  color: #333;
}

/* New Task */

.section__header {
  display: block;
  margin: 0 0 20px;
}

.incomplete-section .section__header {
  margin: 0;
}

.section__input {
  width: 318px;
}

/* Task list */

.task__item {
  overflow: hidden;
  padding: 21px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__item > * {
  vertical-align: middle;
}

.completed-section .task__item {
  padding: 0;
}

.task__checkbox {
  margin: 0 10px;
}

.task__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__add {
  width: 226px;
}

.task__delete {
  background-image: url(./remove.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 60px;
  background-size: contain;
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete:hover {
  transform: rotateZ(0);
}

/* Completed */

.completed-section .task__name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task__add {
  display: none;
}

.edit-mode .task__add {
  display: inline-block;
  width: 224px;
}

.edit-mode .task__name {
  display: none;
}